ion-header {
  --ion-background-color: #3880ff;
}

ion-title {
  color: white;
}

ion-menu-button {
  color: white;
}

ion-content {
  --ion-background-color: #f4f5f8;
}

ion-back-button {
  color: white;
}
