ion-header {
  --ion-background-color: #3880ff;
}

ion-title {
  color: white;
}

ion-menu-button {
  color: white;
}

ion-content {
  --ion-background-color: #f4f5f8;
}

.circle {
  border-radius: 50%;
  width: 30vw;
  height: 30vh;
  margin-top: 50%;
  margin-left: 30%;
  background-color: #3880ff;
}
