<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-grid style="height: 100%">
        <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%">
            <b style="color: blue"> Points : {{rewardPoints}}</b>
            <ion-button expand="block" (click)="openScanPage()">Start Scan</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>
